@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #f0f0f0 3px;
    padding: 1.14% 6.5% 1% 6.5%;
}
header .deezer {
    height: 30px;
}
header nav .fullscreennav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .navbar .hamburger {
    display: none;
    width: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
}
header a {
    text-decoration: none;
    color: black;
}
header .headerlinks {
    color: #32323d;
    font-size: 20px;
    font-weight: 700;
    margin: 0 20px 0 20px;
}
header .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .connexion {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 23px;
    border: 2px solid;
    border-radius: 35px;
    background-color: rgba(0,0,0,0);
    color: #2d96c8;
    text-align: center;
    cursor: pointer;
}
header .connexion:hover{
    border-color: #144358;
    color: #144358;
    transition: color 0.15s, border-color 0.15s;
}
header .inscription {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 23px;
    border: 2px solid;
    border-radius: 35px;
    background-color: #2d96c8;
    border-color: #2d96c8;
    color: white;
    text-align: center;
    cursor: pointer;
}
header .inscription:hover{
    background-color: #144358;
    border-color: #144358;
    transition: background-color 0.15s, border-color 0.15s;
}

main .freemonths {
    margin: 0 4%;
    display: flex;
    height: auto;
    justify-content: space-between;
    /* background-image: url("../img/hero.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 800px; */
}
main .freemonths .deezhero {
    width: 800px;
}
main .freemonths .leftfreemonths {
    padding-left: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .freemonths .leftfreemonths h2 {
    font-size: 60px;
    font-weight: 700;
}
main .freemonths .leftfreemonths p {
    font-size: 40px;
    font-weight: 700;
    color: #ee5465;
}
main .freemonths a {
    text-decoration: none;
}
main .freemonths .buttonsfreemonths {
    display: flex;
    margin-top: 50px;
}
.deezerpaid1 {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 50px;
    border: 2px solid;
    border-radius: 35px;
    background-color: #ee5465;
    border-color: #ee5465;
    color: white;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}
.deezerpaid1:hover {
    background-color: #a83b48;
    border-color: #a83b48;
    transition-duration: 0.15s;
}
main .freemonths .deezerfree1 {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 50px;
    border: 2px solid;
    border-radius: 35px;
    background-color: rgba(0,0,0,0);
    color: black;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
main .freemonths .deezerfree1:hover {
    background-color: black;
    color: white;
    transition-duration: 0.15s;
}

main .about {
    display: flex;
    background-color: #f9f9f9;
    padding: 70px 100px 40px 18%;
}
main .about .nonmaisallo {
    width: 300px;
    margin-right: 40px;
}
main .about .rightabout {
    display: flex;
    align-items: center;
}
main .about .rightabout .textleftabout {
    margin-right: 100px;
    margin-bottom: 95px;
}
main .about h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 60px;
}
main .about h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}
main .about p {
    font-size: 15px;
    font-weight: 400;
    margin: 30px 0;
    line-height: 25px;
}

main .withyou {
    background-color: #ee5465;
    display: flex;
    align-items: center; 
    padding: 50px 0 50px 0;
}
main .withyou .imgwithyou1 {
    display: flex;
    width: 50%;
    align-items: center;
    padding-left: 15%;
}
main .withyou .imgwithyou1 img {
    width: 50px;
    padding: 10px;
}
main .withyou .imgwithyou2 {
    display: none;
}
main .withyou .textwithyou {
    width: 50%;
    padding-right: 15%;
    color: white;
}
main .withyou .textwithyou h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 45px;
}
main .withyou .textwithyou p {
    font-size: 17px;
    line-height: 24px;
}

main .offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
main .offers h2 {
    padding-top: 125px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
main .offers .best {
    text-align: center;
    font-size: 13px;
    color: #8e8e93;
    margin-top: 60px;
}
main .offers .flechebas{
    text-align: center;
    color: #2d96c8;
    margin: 10px 0 10px 0;
}
main .offers .flechebas::before {
    content: '▼';
}
main .offers .bestmobile {
    display: none;
}
main .offers .offersboxs {
    display: flex;
    justify-content: center;
    margin: 0 0 100px 0 ;
}
main .offers .offersboxs h3 {
    font-size: 25px;
    font-weight: 700;
    padding: 50px 50px 50px 50px;
}
main .offers .offersboxs h4 {
    font-size: 30px;
    font-weight: 700;
}
main .offers .offersboxs h4 a {
    text-decoration: none;
}
main .offers .offersboxs p {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}
main .offers .offersboxs ul {
    padding: 50px 0 50px 0;
}
main .offers .offersboxs li {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    line-height: 35px;
    text-align: left;
}
main .offers .offersboxs .check {
    color: #9c9c9c;
}
main .offers .offersboxs .deezerpremium .check {
    color: white;
}
main .offers .offersboxs .check:before {
    content: '✓   ';
}
main .offers .offersboxs .cross {
    color: #cfcfcf;
    font-weight: 400;
}
main .offers .offersboxs .cross::before {
    content: 'X  ';
}
.deezerpaid2 {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 50px;
    border: 2px solid;
    border-radius: 35px;
    background-color: #ee5465;
    border-color: #ee5465;
    color: white;
    text-align: center;
    cursor: pointer;
}
.deezerpaid2:hover {
    background-color: #a83b48;
    border-color: #a83b48;
    transition-duration: 0.15s;
}
main .offers .offersboxs .deezerpaid2 {
    margin: 20px 0 20px 0;
}
main .offers .offersboxs .whitelinks {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
main .offers .offersboxs .bluelinks {
    color: #2d96c8;
    text-decoration: none;
    font-weight: 600;
}
main .offers .offersboxs .info {
    margin-bottom: 60px;
}
main .offers .offersboxs .deezerfreebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    box-shadow: 2px 2px 12px #c7d3d9;
    margin: 0 10px 0 0;
}
main .offers .offersboxs .deezerpremium {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d96c8;
    margin: 0 10px 0 0;
    box-shadow: 2px 2px 12px #c7d3d9;
}
main .offers .offersboxs .deezerfamille {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 12px #c7d3d9;
}
main .offers .offersboxs .deezerfree2 {
    margin:0 0 20px 0;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 50px;
    border: 2px solid;
    border-radius: 35px;
    background-color: #8e8e93;
    border-color: #8e8e93;
    color: white;
    text-align: center;
    cursor: pointer;
}
main .offers .offersboxs .deezerfree2:hover {
    background-color: #5a5a5d;
    border-color: #5a5a5d;
    transition-duration: 0.15s;
}
main .offers .disclaimer {
    color: #a7a7b1;
    padding: 0 20% 20px 20%;
    font-size: 11px;
    text-align: center;
}

main .options {
}
main .options .abonnementannuel {
    padding: 35px 13% 25px 13%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
}
main .options .deezerhifi {
    padding: 35px 13% 25px 13%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
main .options .deezeretudiant {
    padding: 35px 13% 25px 13%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
main .options h2 {
    font-size: 30px;
    font-weight: 600;

}
main .options h2 span {
    color: #ee5465;
}
main .options p {
    font-size: 20px;
    padding: 10px 0 5px 0;
}
main .options a {
    text-decoration: none;
    color: #2d96c8;
    font-weight: 600;
}
main .options button {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 60px;
    border: 2px solid;
    border-radius: 35px;
    background-color: rgba(0,0,0,0);
    color: black;
    text-align: center;
    cursor: pointer;
}
main .options button:hover {
    background-color: black;
    color: white;
    transition-duration: 0.15s;
}

footer {
    background-color: black;
    padding-bottom: 100px;
}
footer .deezerfootermobile {
    display: none;
}
footer .app {
    padding: 100px 0 50px 0;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: white;
}
footer .footerlists {
    display: flex;
    justify-content: space-around;
}
footer .footerlists .titrelistefooter p {
    color: #575763;
    font-weight: 600;
    line-height: 60px;
} 
footer .footerlists .itemlistfooter {
    line-height: 45px;
}
footer .endpage {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
footer .endpage .socials {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
footer .endpage .socials2 {
    padding-right: 20px;
}
footer .endpage .socials img {
    width: 30px;
}
footer .deezerfooter {
    width: 200px;
}
footer .legal {
    color: #5a5a5d;
    display: flex;
    align-items: center;
}
footer .copyright {
    text-align: center;
    font-weight: 500;
}
footer #selectionlangue {
    background-color: black;
    color: white;
    border-color: rgba(0,0,0,0);
}


@media (max-width: 768px) {
    header {
        display: block;
        position: relative;
    }
    header .navbar .hamburger {
        display: block;
        width: 30px;
        position: absolute;
        top: calc(50%-15px);
        right: 10px;
    }
    header .logo {
        width: 100%;
        text-align: center;
    }
    header nav .fullscreennav {
        display: none;
    }
    header nav img {
        display: content;
    }
    main .freemonths {
        display: block;
    }
    main .freemonths .leftfreemonths {
        display: block;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    main .freemonths .leftfreemonths h2 {
        font-size: 30px;
        margin: 50px 0 10px 0;
    }
    main .freemonths .leftfreemonths p {
        font-size: 20px;
    }
    main .freemonths .buttonsfreemonths {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 15px;
    }
    main .freemonths .deezerpaid1 {
        display: block;
        white-space: nowrap;
        text-align: center;
        padding: 15px 120px;
        width: 100%;
        margin: 15px 0 10px 0;
    }
    main .freemonths .deezerfree1 {
        display: block;
        white-space: nowrap;
        text-align: center;
        padding: 15px 120px;
        width: 100%;
        margin: 15px 0 10px 0;
    }
    main .about {
        display: block;
        text-align: center;
    }
    main .nonmaisallo {
        display: none;
    }
    main .freemonths {
        padding: 0;
    }
    main .freemonths .deezhero {
        width: 100%;
    }

    main .about {
        display: block;
        padding: 0 0 20px 0;
    }
    main .about .rightabout {
        text-align: left;
        margin: 0 20px 60px 20px ;
    }
    main .rightabout h2 {
        margin: 0 0 20px 0;
        padding: 30px 0 0 0;
    }
    main .about .rightabout p {
        margin: 20px 0;
    }
    main .about .rightabout .textleftabout {
        display: block;
        margin: 0 0 0 0;
    }
    main .about .rightabout {
        display: block;
    }

    main .withyou {
        display: block;
        text-align: center;
    }
    main .withyou .imgwithyou1 {
        display: none;
    }
    main .withyou .textwithyou {
        width: 100%;
        padding-right: 0%;
        color: white;
    }
    main .withyou .textwithyou h2 {
        font-size: 35px;
        font-weight: 700;
        padding-top: 20px;
        margin: 20px 0 20px 0;
    }
    main .withyou .textwithyou p {
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    main .withyou .imgwithyou2 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0 20px 0%;
    }
    main .withyou .imgwithyou2 img {
        width: 50px;
    }

    main .offers {
        display: block;
    }
    main .offers h2 {
        font-size: 30px;
        padding: 30px 0 30px 0;
    }
    main .offers .offersboxs {
        display: block;
        margin: 10px 50px 10px 50px;
    }
    main .offers .bestfull {
        display: none;
    }
    main .offers .bestmobile {
        display: block;
    }
    main .offers .bestmobile .flechebas {
        text-align: center;
    }
    main .offers .bestmobile ul {
        padding: 0;
    }
    main .offers .offersboxs .deezerfreebox {
        margin-right: 0;
    }
    main .offers .offersboxs .deezerpremium {
        margin-bottom: 50px;
        margin-right: 0;
    }
    main .offers .disclaimer {
        padding: 0 10% 20px 10%;
    }

    main .options {
        display: block;
    }
    main .options h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    main .options p {
        display: none;
    }
    main .options .abonnementannuel {
        display: block;
        text-align: left;
    }
    main .options .deezerhifi {
        display: block;
        text-align: center;
    }
    main .options .deezeretudiant {
        display: block;
        text-align: center;
    }

    footer {
        display: block;
    }   
    footer .footerlists {
        display: block;
        padding-left: 20px;
    }
    footer .footerlists .titrelistefooter {
        margin-top: 50px;
    }
    footer .endpage {
        display: block;
        text-align: center;
    }
     footer .deezerfooterfull {
        display: none;
    }
    footer .deezerfootermobile {
        display: block;
        margin-bottom: 60px;
    }
    footer .endpage .socials {
        justify-content: center;
        margin-bottom: 60px;
    }
    footer .socials2 {
        padding-right: 5px;
    }
    footer .endpage .legal {
        justify-content: center;
    }
}