header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid grey 3px;
    padding: 1.6% 8% 1.6% 8%;
}
header .deezer {
    height: 30px;
}
header a {
    text-decoration: none;
    color: black;
}